body {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
}

.snake-grid {
	width: 502px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.square {
	height: 12.5px;
	width: 12.5px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.snake {
	background-color: yellow;
	
	&:after {
		content: "O";
	}
}

.food {
	background-color: red;
	
	&:after {
		content: "x";
	}
}